.hidden {
  display: none;
}

body {
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  min-width: 600px;
}

img {
  position: absolute;
  top: 0;
  z-index: -1;
}

.container {
  margin-top: 12%;
  text-align: center;
  width: 80%;
}

#clock {
  font-size: 100px;
}

/* menu */
.menu {
  position: fixed;
  width: 20%;
  top: 10%;
  left: 3%;
  display: flex;
  color: black;
  flex-direction: column;
}

.menu__header {
  padding: 5px;
  display: flex;
  margin-bottom: 5px;
}

.menu__header__btn {
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: solid white 2px;
  margin-right: 10px;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.menu__header__text {
  font-size: 35px;
  transition: all 0.3s ease;
  border: solid white 2px;
}

.menu .menu__header__btn:hover {
  transform: rotate(90deg);
  background-color: white;
  color: #efefef;
}

.menu__content {
  display: flex;
}

.menu__vertical {
  width: 4px;
  height: 300px;
  background-color: white;
  margin-left: 11%;
}

.menu__list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu__item {
  list-style: none;
}

.menu__title,
.menu__item {
  width: 100%;
  padding: 10px;
  text-align: left;
  transition: all 0.3s ease-in-out;
}

.menu__title:hover,
.menu__item:hover {
  color: white;
}

.menu__title-btn {
  font-size: 30px;
}

.menu__item__btn {
  font-size: 25px;
  text-align: center;
}

.menu-todo {
  display: none;
}

.menu__vertical,
.menu-home,
.menu-todo,
.menu-movie,
.menu-scene,
.menu-illust {
  opacity: 0;
}

/* login */
#login-form {
  margin-top: 90px;
  height: 150px;
}

#login-form input {
  height: 60px;
}
#login-form input::placeholder {
  font-size: 20px;
}

#login-form input:first-child {
  width: 200px;
  border: solid 1px gray;
  font-size: 25px;
}

#login-form input:last-child {
  border: solid 1px gray;
  border-radius: 50%;
  font-weight: 700;
  cursor: pointer;
  align-items: center;
  margin-left: 15px;
}

#login-form h1 {
  font-size: 60px;
}

/* quote */
#quote {
  font-size: 20px;
  color: grey;
  height: 80px;
  margin-top: 10px;
}

/* todo */
#todo-form {
  height: 60px;
}

#todo-form input {
  font-size: 40px;
}

#todo-form input::placeholder {
  font-size: 30px;
  text-align: center;
}

#todo-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#todo-list li {
  font-size: 25px;
  margin: 7px auto;
  list-style: square;
}

#todo-list li span {
  margin-right: 20px;
}

#todo-list li button {
  font-size: 20px;
}
